In [1]:
train = pd.read_csv('../data/train.csv')

In [5]:
train_new = train[0:2255853] # 3월 31일까지의 units

In [6]:
train_new

               date  store_nbr  item_nbr  units
0        2012-01-01          1         1      0
1        2012-01-01          1         2      0
2        2012-01-01          1         3      0
3        2012-01-01          1         4      0
4        2012-01-01          1         5      0
5        2012-01-01          1         6      0
6        2012-01-01          1         7      0
7        2012-01-01          1         8      0
8        2012-01-01          1         9     29
9        2012-01-01          1        10      0
10       2012-01-01          1        11      0
11       2012-01-01          1        12      0
12       2012-01-01          1        13      0
13       2012-01-01          1        14      0
14       2012-01-01          1        15      0
15       2012-01-01          1        16      0
16       2012-01-01          1        17      0
17       2012-01-01          1        18      0
18       2012-01-01          1        19      0
19       2012-01-01          1        20      0
20       2012-01-01          1        21      0
21       2012-01-01          1        22      0
22       2012-01-01          1        23      0
23       2012-01-01          1        24      0
24       2012-01-01          1        25      0
25       2012-01-01          1        26      0
26       2012-01-01          1        27      0
27       2012-01-01          1        28      2
28       2012-01-01          1        29      0
29       2012-01-01          1        30      0
...             ...        ...       ...    ...
2255823  2013-03-31         45        82      0
2255824  2013-03-31         45        83      0
2255825  2013-03-31         45        84      0
2255826  2013-03-31         45        85      0
2255827  2013-03-31         45        86      0
2255828  2013-03-31         45        87      0
2255829  2013-03-31         45        88      0
2255830  2013-03-31         45        89      0
2255831  2013-03-31         45        90      0
2255832  2013-03-31         45        91      0
2255833  2013-03-31         45        92      0
2255834  2013-03-31         45        93      0
2255835  2013-03-31         45        94      0
2255836  2013-03-31         45        95      0
2255837  2013-03-31         45        96      0
2255838  2013-03-31         45        97      0
2255839  2013-03-31         45        98      0
2255840  2013-03-31         45        99      0
2255841  2013-03-31         45       100      0
2255842  2013-03-31         45       101      0
2255843  2013-03-31         45       102      0
2255844  2013-03-31         45       103      0
2255845  2013-03-31         45       104      0
2255846  2013-03-31         45       105      0
2255847  2013-03-31         45       106      0
2255848  2013-03-31         45       107      0
2255849  2013-03-31         45       108      0
2255850  2013-03-31         45       109      0
2255851  2013-03-31         45       110      0
2255852  2013-03-31         45       111      0

[2255853 rows x 4 columns]

In [7]:
train_new_1 = train_new[train_new['store_nbr'] == 1]
train_new_1

               date  store_nbr  item_nbr  units
0        2012-01-01          1         1      0
1        2012-01-01          1         2      0
2        2012-01-01          1         3      0
3        2012-01-01          1         4      0
4        2012-01-01          1         5      0
5        2012-01-01          1         6      0
6        2012-01-01          1         7      0
7        2012-01-01          1         8      0
8        2012-01-01          1         9     29
9        2012-01-01          1        10      0
10       2012-01-01          1        11      0
11       2012-01-01          1        12      0
12       2012-01-01          1        13      0
13       2012-01-01          1        14      0
14       2012-01-01          1        15      0
15       2012-01-01          1        16      0
16       2012-01-01          1        17      0
17       2012-01-01          1        18      0
18       2012-01-01          1        19      0
19       2012-01-01          1        20      0
20       2012-01-01          1        21      0
21       2012-01-01          1        22      0
22       2012-01-01          1        23      0
23       2012-01-01          1        24      0
24       2012-01-01          1        25      0
25       2012-01-01          1        26      0
26       2012-01-01          1        27      0
27       2012-01-01          1        28      2
28       2012-01-01          1        29      0
29       2012-01-01          1        30      0
...             ...        ...       ...    ...
2250939  2013-03-31          1        82      0
2250940  2013-03-31          1        83      0
2250941  2013-03-31          1        84      0
2250942  2013-03-31          1        85      0
2250943  2013-03-31          1        86      0
2250944  2013-03-31          1        87      0
2250945  2013-03-31          1        88      0
2250946  2013-03-31          1        89      0
2250947  2013-03-31          1        90      0
2250948  2013-03-31          1        91      0
2250949  2013-03-31          1        92      0
2250950  2013-03-31          1        93      0
2250951  2013-03-31          1        94      0
2250952  2013-03-31          1        95      0
2250953  2013-03-31          1        96      0
2250954  2013-03-31          1        97      0
2250955  2013-03-31          1        98      0
2250956  2013-03-31          1        99      0
2250957  2013-03-31          1       100      0
2250958  2013-03-31          1       101      0
2250959  2013-03-31          1       102      0
2250960  2013-03-31          1       103      0
2250961  2013-03-31          1       104      0
2250962  2013-03-31          1       105      0
2250963  2013-03-31          1       106      0
2250964  2013-03-31          1       107      0
2250965  2013-03-31          1       108      0
2250966  2013-03-31          1       109      0
2250967  2013-03-31          1       110      0
2250968  2013-03-31          1       111      0

[50505 rows x 4 columns]